################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CarPartsParser
/CarPartsParser/.vs
/CarPartsParser/bin/Debug
/CarPartsParser/obj/Debug
/packages
/CarPartsParserPrototypeTests/bin/Debug
/CarPartsParserPrototypeTests/obj/Debug
/SiteParsingHelper/bin/Debug
/SiteParsingHelper/obj/Debug
/ParserApi.Tests/bin/Debug
/ParserApi.Tests/obj/Debug
/ParserApi/obj/Debug
/ParserApi/bin
/SiteParsingHelperTests/bin/Debug
/SiteParsingHelperTests/obj/Debug
/ParserCore/bin/Debug
/ParserCore/obj/Debug
/ParserCoreTests/bin/Debug
/ParserCoreTests/obj/Debug
/ParserApi/obj/Release
/ParserCore/bin/Release
/ParserCore/obj/Release
/ParserCoreTests/obj/Release
/ParserApi.Tests/obj/Release
/NotVsFiles/Ignore
/ParserApi/Properties/PublishProfiles
