################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CarPartsParser
/CarPartsParser/.vs
/CarPartsParser/bin/Debug
/CarPartsParser/obj/Debug
/packages
/CarPartsParserPrototypeTests/bin/Debug
/CarPartsParserPrototypeTests/obj/Debug
/SiteParsingHelper/bin/Debug
/SiteParsingHelper/obj/Debug
/ParserApi.Tests/bin/Debug
/ParserApi.Tests/obj/Debug
/ParserApi/obj/Debug
/ParserApi/bin
/SiteParsingHelperTests/bin/Debug
/SiteParsingHelperTests/obj/Debug
