#search_result{
    font-size: 12pt;
}

body{
    background-color:lightgrey;
}

table {
    border-collapse: collapse;
    width: 70%;
}

thead{
    background-color: cornflowerblue;
}

table, th, tr, td {
    border: 1px solid black;
}

th, td{
    padding: 5px;
}

tr:nth-child(even) {
    background-color: darkgray;
}

caption{
   text-align: left;
   font-size: large;
   font-weight: bold;
}
